@import url("styles/gamecontainer.css");
@import url("styles/profilebanner.css");
@import url("styles/welcome.css");
@import url("styles/gamesettings.css");
@import url("styles/board.css");
@import url("styles/prompt.css");
@import url("styles/profilecreate.css");

@font-face {
	font-family: "Roboto";
	src: url("assets/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Sans";
	src: url("assets/noto-sans/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Sans";
	font-weight: 600;
	src: url("assets/noto-sans/NotoSans-Bold.ttf") format("truetype");
}

* {
	font-family: Noto Sans;
	text-align: center;
	user-select: none;
}

*:enabled {
	cursor: pointer;
}

:hover, :focus, :active {
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

h1, h2, h3, p {
	color: rgb(55, 55, 55);
}

input[type=text] {
	border: unset;
	text-align: left;
	text-indent: 5%;
	transition: transform 0.15s ease-in-out, filter 0.17s ease-in-out;
	cursor: text;
}

input[type=text]:focus {
	transform: scale(1.05);
	filter: drop-shadow(0 0.5rem 5px rgba(0, 0, 0, 0.3));
}

input[type=text]::placeholder {
	color: lightgray;
}

input[type=file] {
	display: none;
}

input[type="range"] {
	appearance: none;
	background-color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	border-radius: 50px;
	background-color: whitesmoke;
	transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, filter 0.17s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:active {
	background-color: rgb(0, 170, 170);
}

input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	border-radius: 7px;
	background-color: rgb(180, 180, 180);
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: inset 0 0 50px -10px rgba(0, 0, 0, 0.2);
	filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.4));
	background-image: url("assets/background-texture.png");
}

button {
	padding: 0;
    text-transform: capitalize;
	transition: transform 0.15s ease-in-out, color 0.15s ease-in-out, background-color 0.15s ease-in-out, filter 0.17s ease-in-out;
}

button:enabled {
	color: rgb(60, 60, 60);
	background-color: whitesmoke;
}

.control-button {
	margin: 3% 0.7% 3% 0.7%;
	padding: 1.5% 2.5% 1.5% 2.5%;
	border: unset;
	font-weight: bold;
	background-color: rgb(240, 240, 240);
}

.control-button:active {
	color: white;
	background-color: rgb(0, 170, 170);
}

.control-button.wider {
	min-width: 30%;
}

.window-close-button {
	aspect-ratio: 1/1;
	top: 15px;
	right: 15px;
	position: absolute;
	border: unset;
	border-radius: 25%;
	text-align: center;
	vertical-align: center;
	font-size: 200%;
	font-weight: bold;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;
}

.window-close-button:enabled {
	background-color: rgb(255, 122, 139);
}

.window-close-button:hover {
	background-color: rgb(255, 67, 92);
	filter: drop-shadow(0 0.5rem 5px rgba(0, 0, 0, 0.3));
}

.window-close-button:active {
	background-color: rgb(212, 33, 57);
}

/*//////////////////////////////////////////////////////*/

@media (orientation: portrait) {
	body {
		flex-direction: column;
	}

	input[type=text] {
		height: 4vh;
		border-radius: 1vh 1vh 1vh 1vh;
		font-size: 1.6vh;
	}

	input[type="range"]::-webkit-slider-thumb {
		margin-top: -1vh;
		width: 3vh;
		height: 3vh;
	}

	input[type="range"]::-webkit-slider-runnable-track {
		height: 1vh;
	}

	details {
		margin-bottom: 3.5vh;
	}

	.control-button {
		border-radius: 1vh;
		font-size: 1.7vh;
	}

	.control-button.larger-font {
		font-size: 2vh;
	}

	.window-close-button {
		height: 4vh;
	}
}

/*//////////////////////////////////////////////////////*/

@media (orientation: landscape) {
	body {
		flex-direction: row;
	}

	input[type=text] {
		height: 4vw;
		border-radius: 1vw 1vw 1vw 1vw;
		font-size: 1.6vw;
	}

	input[type="range"]::-webkit-slider-thumb {
		margin-top: -1vw;
		width: 3vw;
		height: 3vw;
	}

	input[type="range"]::-webkit-slider-runnable-track {
		height: 1vw;
	}

	.control-button {
		min-width: 30%;
		border-radius: 1vw;
		font-size: 1.8vw;
	}

	.control-button.larger-font {
		font-size: 2vw;
	}

	.window-close-button {
		height: 4vw;
	}
}

/*//////////////////////////////////////////////////////*/

@media (hover: hover) and (pointer: fine) {
	input[type=text]:hover {
		transform: scale(1.1);
	}

	input[type="range"]::-webkit-slider-thumb:hover {
		transform: scale(1.25);
		filter: drop-shadow(0 0.5rem 5px rgba(0, 0, 0, 0.3));
	}

	button:enabled:hover {
		transform: scale(1.15);
	}

	.control-button:hover {
		z-index: 1;
		filter: drop-shadow(0 0.5rem 5px rgba(0, 0, 0, 0.3));
	}
}

/*//////////////////////////////////////////////////////*/

@keyframes animate-fade-in {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}