#board-container {
	aspect-ratio: 1/1;
	display: grid;
	padding: 0.5%;
	border-radius: 2%;
	background-color: darkgray;
	animation: animate-fade-in 0.4s ease-in-out;
}

.board-box {
	aspect-ratio: 1/1;
	display: inherit;
	margin: 1%;
	padding: 1.75%;
	border-radius: 10px;
	background-color: rgb(200, 200, 200);
	transition: background-color 0.30s ease-in-out;
}

.board-cell {
	aspect-ratio: inherit;
	margin: 2px;
	border-radius: 15%;
	border: unset;
	font-family: Roboto;
	font-weight: bold;
}

.board-cell.paint-selected {
	background-color: aquamarine;
}

.board-cell.paint-invalid {
	background-color: rgb(255, 67, 92);
}

.board-cell.focused {
	z-index: 2;
	transform: scale(1.3);
	background-color: turquoise;
}

#board-controls-container {
	display: flex;
	flex-direction: column;
	animation: animate-fade-in 0.6s ease-in-out;
}

#board-control-button-container {
	display: flex;
}

#board-input-controls-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
}

#board-input-controls-container.visible {
	opacity: 1;
	visibility: visible;
}

#board-input-controls-bottom-row {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.board-number-input-button {
	aspect-ratio: 1/1;
	border-radius: 15%;
	border: unset;
	font-weight: bold;
	font-family: Roboto;
}

/*//////////////////////////////////////////////////////*/

@media (orientation: portrait) {
	.board-cell {
		font-size: 1.9vh;
	}

	#board-controls-container {
		margin-top: 1vh;
		margin-left: unset;
		height: 20%;
	}

	#board-control-button-container {
		margin-top: 1%;
		flex-direction: row;
		justify-content: space-between;
	}

	#board-input-controls-container {
		margin-top: 2vh;
		margin-bottom: 1vh;
	}

	#board-input-controls-bottom-row {
		margin-top: 1vh;
	}

	.board-number-input-button {
		margin: 0.8%;
		height: 5vh;
		font-size: 2.5vh;
	}
}

/*//////////////////////////////////////////////////////*/

@media (orientation: landscape) {
	.board-cell {
		font-size: 1.9vw;
	}

	#board-controls-container {
		margin-top: unset;
		margin-left: 1vw;
		flex-direction: column;
	}

	#board-control-button-container {
		margin-top: 1vw;
		margin-left: 2vw;
		flex-direction: column-reverse;
		align-items: flex-start;
	}

	#board-input-controls-container {
		margin-top: auto;
		margin-bottom: 1vw;
	}

	#board-input-controls-bottom-row {
		margin-top: 1vw;
	}

	.board-number-input-button {
		margin: 1.2%;
		height: 5vw;
		font-size: 2.5vw;
	}
}

/*//////////////////////////////////////////////////////*/

@media (hover: hover) and (pointer: fine) {
    .board-cell:enabled:hover {
		z-index: 1;
        transform: scale(1.2);
        background-color: rgb(0, 170, 170);
    }

	.board-number-input-button:hover {
		filter: drop-shadow(0 0.5rem 5px rgba(0, 0, 0, 0.3));
	}
}