#game-container {
	display: inherit;
	flex-direction: inherit;
	justify-content: inherit;
	align-items: inherit;
	border-radius: 25px;
}

#game-header {
	margin: 0;
	display: inherit;
	justify-content: space-around;
	background-color: lightgray;
}

#game-title {
	margin: 0;
	font-weight: bolder;
}

.game-screen {
	margin: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	float: left;
	display: none;
	background-color: lightgray;
}

#game-footer {
	margin: 0;
	background-color: lightgray;
}

/*//////////////////////////////////////////////////////*/

@media (orientation: portrait) {
	#game-container {
		aspect-ratio: 9/18;
		height: 99.5vh;
		max-height: 99.5vh;
		max-width: 99vw;
	}

	#game-header {
		width: 100%;
		min-height: 30px;
		border-radius: 25px 25px 0 0;
	}

    #game-title {
		font-size: 6vh;
	}

	.game-screen {
		padding: 1.5%;
		flex-direction: column;
	}

	#game-footer {
		border-radius: 0 0 25px 25px;
		width: 100%;
		height: 30px;
	}
}

/*//////////////////////////////////////////////////////*/

@media (orientation: landscape) {
	#game-container {
		aspect-ratio: 18/9;
		width: 99.5vw;
		height: unset;
		max-width: unset;
		max-height: 99vh;
	}

	#game-header {
		width: unset;
		height: 100%;
		border-radius: unset;
		border-radius: 0 25px 25px 0;
		transform: rotate(180deg);
	}

    #game-title {
		font-size: 6vw;
		writing-mode: vertical-rl;
	}

	.game-screen {
		padding: 0.75%;
		flex-direction: row;
	}

	#game-footer {
		border-radius: 0 25px 25px 0;
		width: 30px;
		height: 100%;
	}
}