#game-settings-screen-container {
	width: 100%;
	animation: animate-fade-in 0.4s ease-in-out;
}

#game-settings-container {
	display: flex;
	animation: animate-fade-in 0.6s ease-in-out;
}

#game-settings-controls-container {
	max-height: 0;
	transform-origin: top;
	opacity: 0;
	transform: scaleY(0);
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

#game-settings-controls-container.visible {
	max-height: 16vh;
	opacity: 1;
	transform: scaleY(1);
}

.game-settings-slider-container {
	display: grid;
}

.game-settings-slider-container > h2 {
	text-align: right;
}

/*//////////////////////////////////////////////////////*/

@media (orientation: portrait) {
	#game-settings-container {
		margin-top: 5vw;
		flex-direction: column;
	}

	#game-settings-toggle-button {
		margin: auto auto 2vh auto;
		width: 25vh;
	}

	.game-settings-slider-container {
		grid-template-columns: 1fr 2fr;
	}

	.game-settings-slider-container > h2 {
		font-size: 1.8vh;
	}

	.game-settings-slider-container > input[type="range"] {
		margin: 0 2.5vh 0 2.5vh;
	}
}

/*//////////////////////////////////////////////////////*/

@media (orientation: landscape) {
	#game-settings-container {
		margin-top: 4vw;
		flex-direction: column;
	}

	#game-settings-toggle-button {
		margin: 1vw auto 2vw auto;
		width: 25vw;
	}

	.game-settings-slider-container {
		grid-template-columns: 2fr 3fr 1fr;
	}

	.game-settings-slider-container > h2 {
		font-size: 1.8vw;
	}

	.game-settings-slider-container > input[type="range"] {
		margin: 0 1vw 0 2vw;
	}
}