#profile-create-prompt-window {
	aspect-ratio: 2/1;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 25px;
	opacity: 0;
	transform: scale(0);
	transition: opacity 0.15s ease-in-out, transform 0.2s ease-in-out;
	box-shadow: 0 0 50px -25px rgb(0, 0, 0);
	background-color: lightgray;
}

#profile-create-prompt-window.visible {
	opacity: 1;
	transform: scale(1);
}

#profile-create-input-form {
    display: flex;
	width: 100%;
	height: 100%;
}

#profile-image-container {
	display: inherit;
	flex-direction: column;
	margin: 0 5% 0 5%;
}

#profile-image-upload-button {
	margin-top: 12%;
	padding: 3% 4% 2% 3%;
	border: unset;
	font-weight: bold;
	background-color: whitesmoke;
}

#profile-name-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#profile-name-textbox-label {
	margin: 3% 0 3% 0;
}

#profile-name-textbox {
	width: 92%;
}

#profile-create-button {
	margin: auto 7% 7% auto;
	height: 25%;
}

/*//////////////////////////////////////////////////////*/

@media (orientation: portrait) {
	#profile-create-prompt-window {
		height: 23.5vh;
	}

	#profile-image-upload-button {
		font-size: 1.4vh;
		border-radius: 0.7vh;
	}

	#profile-name-container {
		margin-top: 2%;
	}

	#profile-name-textbox-label {
		font-size: 1.8vh;
	}
}

 /*//////////////////////////////////////////////////////*/

 @media (orientation: landscape) {
	#profile-create-prompt-window {
		height: 21vw;
	}

	#profile-image-upload-button {
		font-size: 1.3vw;
		border-radius: 0.7vw;
	}

	#profile-name-textbox-label {
		font-size: 1.8vw;
	}
 }

/*//////////////////////////////////////////////////////*/

@media (hover: hover) and (pointer: fine) {
	#profile-image-upload-button:hover {
		filter: drop-shadow(0 0.5rem 5px rgba(0, 0, 0, 0.3));
	}
}