#profile-banner-outer-container {
	display: flex;
	justify-content: flex-start;
}

.profile-image {
	aspect-ratio: 1/1;
	border-radius: 100%;
	box-shadow: inset 0 0 30px -6px rgba(0, 0, 0, 0.45);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: background-image 0.15s ease-in-out;
}

#profile-banner-inner-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#profile-banner-welcome-message {
	text-align: left;
	font-weight: bold;
}

#profile-controls-container {
	margin: 0;
	display: flex;
}

.profile-banner-control-button {
	border: unset;
	font-weight: bold;
	background-color: whitesmoke;
	white-space: nowrap;
}

.profile-banner-control-button:active {
	color: white;
	background-color: rgb(0, 170, 170);
}

/*//////////////////////////////////////////////////////*/

@media (orientation: portrait) {
	#profile-banner-outer-container {
		margin-top: 1vh;
		margin-left: 2.5vh;
	}

	.profile-image {
		height: 12vh;
	}

	#profile-banner-inner-container {
		margin-left: 1.6vh;
	}

	#profile-banner-welcome-message {
		margin: 0 0 1.5vh 0;
		font-size: 3vh;
	}

	.profile-banner-control-button {
		margin-right: 1.2vw;
		padding: 0.8vh 1.2vh 0.8vh 1.2vh;
		border-radius: 1vh;
		font-size: 1.8vh;
	}
}

/*//////////////////////////////////////////////////////*/

@media (orientation: landscape) {
	#profile-banner-outer-container {
		margin-top: 1.5vw;
		margin-left: 2vw;
	}

	.profile-image {
		height: 10vw;
	}

	#profile-banner-inner-container {
		margin-left: 1.5vw;
	}

	#profile-banner-welcome-message {
		margin: 0 0 1.5vw 0;
		font-size: 2.5vw;
	}

	#profile-controls-container {
		margin: 0;
		justify-content: flex-start;
	}

	.profile-banner-control-button {
		margin-right: 1.2vw;
		padding: 0.8vw 1.2vw 0.8vw 1.2vw;
		border-radius: 1vw;
		font-size: 1.8vw;
	}
}

/*//////////////////////////////////////////////////////*/

@media (hover: hover) and (pointer: fine) {
	.profile-banner-control-button:hover {
		filter: drop-shadow(0 0.5rem 5px rgba(0, 0, 0, 0.3));
	}
}