dialog {
	border: none;
	overflow: hidden;
}

dialog::backdrop {
	background: none;
}

menu {
	margin-top: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
}

#prompt-overlay {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	transition: background-color 0.35s ease-in-out, backdrop-filter 0.35s ease-in-out;
	background-color: rgba(0, 0, 0, 0);
	pointer-events: none;
}

#prompt-overlay.visible {
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: grayscale(70%) blur(5px);
	pointer-events: all;
}

#prompt-container {
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	border-radius: 25px;
}

#prompt-window {
	aspect-ratio: 2/1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 25px;
	opacity: 0;
	transform: scale(0);
	transition: opacity 0.15s ease-in-out, transform 0.2s ease-in-out;
	box-shadow: 0 0 50px -25px rgb(0, 0, 0);
	background-color: lightgray;
}

#prompt-window.visible {
	opacity: 1;
	transform: scale(1);
}

/*//////////////////////////////////////////////////////*/

@media (orientation: portrait) {
	#prompt-container {
		aspect-ratio: 9/18;
		height: 99vh;
		max-height: 99vh;
		max-width: 99vw;
	}

	#prompt-window {
		height: 20vh;
	}

	.prompt-title {
		margin: 1vh 0 1vh 0;
		font-size: 2.5vh;
	}

	#prompt-message {
		margin: 1vh;
		font-size: 2vh;
	}
}

/*//////////////////////////////////////////////////////*/

@media (orientation: landscape) {
	#prompt-container {
		aspect-ratio: 18/9;
		/* width: 99vw; */
		height: unset;
		max-width: unset;
		max-height: 99vh;
	}

	#prompt-window {
		height: 20vw;
	}

	.prompt-title {
		margin: 1vw 0 1vw 0;
		font-size: 2.5vw;
	}

	#prompt-message {
		margin: 1vw;
		font-size: 2vw;
	}
}