#welcome-screen-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	animation: animate-fade-in 0.4s ease-in-out;
}

#welcome-screen-button-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	animation: animate-fade-in 0.6s ease-in-out;
}

.welcome-screen-profile-button {
	margin: 1.5% 0.5% 1.5% 0.5%;
	padding: 1.5% 3% 1.5% 3%;
	border: unset;
	font-weight: bold;
}

.welcome-screen-profile-button:active {
	color: white;
	background-color: rgb(0, 180, 180);
}

.welcome-screen-profile-button.empty-profile {
	color: gray;
}

.welcome-screen-profile-button.empty-profile:active {
	color: rgb(220, 220, 220);
	background-color: rgb(0, 140, 140);
}

/*//////////////////////////////////////////////////////*/

@media (orientation: portrait) {
	#welcome-message {
		margin-top: 1%;
		font-size: 3vh;
	}

	#welcome-profile-info-message {
		margin-top: 0;
		max-width: 90%;
		font-size: 1.5vh;
	}

	#welcome-screen-container {
		margin-top: 1.5vh;
	}

	#welcome-screen-button-container {
		margin-top: 2vh;
		width: 95%;
	}

	.welcome-screen-profile-button {
		width: 45%;
		border-radius: 1vh;
		font-size: 2vh;
	}
}

 /*//////////////////////////////////////////////////////*/

@media (orientation: landscape) {
	#welcome-message {
		margin-top: 2%;
		font-size: 3vw;
	}

	#welcome-profile-info-message {
		margin-top: 0;
		font-size: 1.6vw;
	}

	#welcome-screen-container {
		margin-top: 2vw;
	}

	#welcome-screen-button-container {
		margin-top: 2vw;
		width: 85%;
	}

	.welcome-screen-profile-button {
		min-width: 30%;
		border-radius: 1vw;
		font-size: 2vw;
	}
}

/*//////////////////////////////////////////////////////*/

@media (hover: hover) and (pointer: fine) {
	.welcome-screen-profile-button:hover {
		filter: drop-shadow(0 0.5rem 5px rgba(0, 0, 0, 0.3));
	}
}